/*
################
   MAP
################
*/

.map-card {
    background-image: url("../images/desktop_map.png");

    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-text {
    padding: 1rem;
    font-weight: 700;
}

.pin-img{
	background-image: url("../images/pin.png");
	width: 30px;
	height:30px;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.location-area{
	display: inline-flex;
    font-size: 13px;
}
.location-num{
	position: relative;
    left: 9px;
    top: 2px;
    color: #fff;
}
.bg-dark{
      background-color: #322a2a;
   color: #fff;
  }

  .custom-btn{
   border-radius: 0px;
   font-weight: 500;
   font-size: 13px;
  }

  .bg-yellow{
      background-color: #d88929;
   color: #fff;
  }



.pad-0{
	padding: 0px;
}
.pad-l-1{
	padding-left: 1rem;
}
.pad-t-05{
	padding-top: 0.5rem;
}
.pad-t-1{
	padding-top: 1rem;
}
.f-w-700{
	font-weight: 700;
}




/*Mobile*/
@media (max-width: 576px) {

	.mob-w-100{
		width: 100%
	}
}
  